<p id="notice"><%= notice %></p>

<div class="commentindex">Comments for "<%= @post.title %>"</div>
<% @post.comments.each do |comment| %>
  <div class="comment-wrapper">
    <div class="commenter">Posted by: <%= comment.name %></div>
    <div class="comment-text"><%= comment.content %></div>
  </div>
<% end %>
<br>
<div class="clearfix"></div>
<div class="comment-actions"><%= link_to 'go back', post_path(@post)%></div>
