<h1>Log In!</h1>
<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<%= form_for(:session, url: login_path) do |f|%>
<%= f.label :name %>
<%= f.text_field :name %>
<br>
<%= f.label :password %>
<%= f.password_field :password %>
<br>
<%=f.submit 'Submit'%>
<%end%>
<br>

<p>New user? <%= link_to "Sign up now!", new_user_path %></p>
