<h1>Sign up!</h1>

<%= form_for(@user) do |form| %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password %>
  </div>

  <div class="submit">
    <%= form.submit 'Submit'%>
  </div>
<% end %>

<p>Not a new user? <%= link_to "Log in!", login_path %></p>
