<div class="noticemessage"><%= notice %></div>

<h3 class="blogsubtitle">Emily in the wild</h3>

<h1 class="blogtitle">Traditional is Boring</h1>

<hr></hr>

<div class="allposts">
  <% @posts.each do |post| %>
    <div class="postcard">
      <div class="post-title"><%= post.title %></div>
      <div class="created"><%= post.created %></div>
      <p><%= post.content %></p>
      <div class="actionscontainer">
        <div class="actions"><%= link_to 'Read', post %></div>
        <div class="actions"><%= link_to (post.comments.count if post.comments), post_comments_path(post)%> Comments</div>
      </div>
    </div>

  <% end %>
</div>

<div class="nav"><%= render 'navlinks'%><a href="" id="cross">&#735;</a></div>
<!-- <div class="top">
  <button id="top">&#8593;</button>
</div> -->

<button id="hamburger">&#9776;</button>
