<div class="noticemessage"><%= notice %></div>

<h3 class="blogsubtitle">Emily's Blog</h3>

<h1 class="blogtitle">Making the most of Life</h1>

<hr></hr>

<div class="allposts">
  <% @posts.sort_by{|post| post.created }.reverse.each do |post| %>

    <div class="postcard">
      <div class="post-title"><%= post.title %></div>
      <div class="created"><%= convert_date(post.created) %></div>
      <div class="post-preview">
        <%=link_to(post) do %>
          <%= postcontent(post.content.truncate(160)) %>
        <%end%>
      </div>

      <div class="actionscontainer">
        <div class="actions"><%= link_to 'Read More...', post %></div>
        <div class="comments"><%= link_to post.comments.count, post_comments_path(post)%> <%= link_to 'comment(s)', post_comments_path(post)%></div>
      </div>
    </div>

  <% end %>

  <button id="hamburger">&#9776;</button>
  <div class="nav"><%= render 'navlinks'%><a href="" id="cross">&#735;</a></div>


  <div class="top">
    <button id="top">&#8593;</button>
  </div>

</div>
