<div class="noticemessage"><%= notice %></div>

<h3 class="blogsubtitle">Emily's Blog</h3>

<h1 class="blogtitle">Making the most of Life</h1>

<hr></hr>

<div class="allposts">
  <% @posts.each do |post| %>
    <div class="postcard">
      <div class="post-title"><%= post.title %></div>
      <div class="created"><%= post.created %></div>
      <p id="pdots"><%= post.content %></p>
      <div class="actionscontainer">
        <div class="actions"><%= link_to 'Read More', post %></div>
        <div class="comments"><%=post.comments.count if post.comments%> Comment(s)</div>
      </div>
    </div>

  <% end %>
</div>

<% if @user != nil %>

  <button id="hamburger">&#9776;</button>
  <div class="nav"><%= render 'navlinks'%><a href="" id="cross">&#735;</a></div>

<%end%>
