<div class="noticemessage"><%= notice %></div>

<h3 class="blogsubtitle">Emily's blog</h3>

<h1 class="blogtitle">Non-Traditionally</h1>

  <% @posts.each do |post| %>
      <div class="blocktitle2"><%= post.title %></div>
      <h1 id="created"><%= post.created %></h1>
      <p><%= post.content %></p>
      <div class="actionscontainer">
        <div class="actions"><%= link_to 'Show', post %></div>
        <div class="actions"><%= link_to 'Edit', edit_post_path(post) %></div>
        <div class="actions"><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      </div>

  <% end %>

<div class="nav"><%= render 'navlinks'%><a href="" id="cross">&#735;</a></div>
<!-- <div class="top">
  <button id="top">&#8593;</button>
</div> -->

<button id="hamburger">&#9776;</button>
