<p id="notice"><%= notice %></p>

<div class="blogtitle">
  <%= @post.title %>
</div>

<div class="blogsubtitle" id="creator">
    by <%= @post.user.name %>
</div>
<div class="blogsubtitle">
    <%= @post.created %>
</div>

<p class="showpagecontent">
  <%= @post.content %>
</p>



<div class="footer">

<% if current_user.name == "Emily" %>
  <div className="actions-show-box">
    <div class="actions_show"><%= link_to 'Edit', edit_post_path %></div>
    <div class="actions_show"><%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' } %></div>
<%end%>
    <div class="actions_show"><%= link_to 'Back to Posts', posts_path %></div>
    <div class="actions_show"><%= link_to 'Post a Comment', new_post_comment_path(@post) %></div>
  </div>


  <br></br>
  <div class="post-comments">
    <%= link_to @post.comments.count, post_comments_path(@post)%> <%= link_to 'comment(s):', post_comments_path(@post)%>
  </div>

  <% @post.comments.each do |comment| %>
    <div class="comment-wrapper">
      <div class="commenter">Posted by: <%= comment.name %></div>
      <div class="comment-text"><%= comment.content %></div>
    </div>
  <% end %>

</div>

<% if current_user.name == "Emily" %>

  <button id="hamburger">&#9776;</button>
  <div class="nav"><%= render 'navlinks'%><a href="" id="cross">&#735;</a></div>

<%end%>
