<p id="notice"><%= notice %></p>

<div class="blogtitle">
  <%= @post.title %>
</div>

<div class="blogsubtitle">
  <%= @post.created %>
</div>

<p class="showpagecontent">
  <%= @post.content %>
</p>

<div class="footer">

  <div class="post-comments">
    <%= link_to @post.comments.count, post_comments_path(@post)%> <%= link_to 'comment(s)', post_comments_path(@post)%>
  </div>

  <div class="actions"><%= link_to 'Edit', edit_post_path %></div>
  <div class="actions"><%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' } %></div>
  <div class="actions"><%= link_to 'Back', posts_path %></div>
  <div class="actions"><%= link_to 'Post a Comment', new_post_comment_path(@post) %></div>

</div>
